<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

  <style>
    {{ include "styles.css" }}
  </style>

  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">

  <link rel="icon" type="image/x-icon" href="{{ '/assets/favicon.ico' | relative_url }}">
  <link rel="icon" type="image/svg+xml" href="{{ '/assets/favicon.svg' | relative_url }}">
</head>
